<p id="notice">Book was successfully created.</p>
<p>Title:<%= @book.title %></p>

<p>Body:<%= @book.body %></p>

<a class="edit_20642" href="/books/20642/edit">Edit</a> |
<a class="Back"<%= link_to "Back",books_path %>  </a>